<html>

<head>
    <title>select_fri</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <!-- <script src="jquery-3.3.1.js"></script> -->
    <style>
        #formid {
            width: 50%;
            margin-left: 25%;
            margin-right: auto;
            margin-top: 50px;
        }
        
        .displayfrd {
            width: 45%;
            float: left;
            margin-top: 30px;
            margin-left: 15px;
        }
        
        .subfrdinfo {
            padding: 0 5px;
        }
        
        #sbmt {
            margin-top: 200px;
            float: left;
            margin-left: 10%;
        }
    </style>
    <script>
        var r = '{{result|safe}}';
        alert(r)

        // $.GET('/test',
        //     function(n) {
        //         alert(n);
        //     }
        // );
        {#var obj = JSON.parse(r);#}
        {#alert(obj.status);#}
        {#alert(obj.message);#}

        // for (var i = 0; i < obj.length; i++) {
        // $("#formid").append(`<div class='displayfrd'><fieldset><legend><input type='checkbox'/>PYinfo</legend><div class='subfrdinfo'><p>` + obj.status + `</p><p>` + obj.message + `</p></div></fieldset></div>`);

        // }
        // function request_friend() {
        //     // var searchname = document.getElementById("mysearch").value;
        //     // var data = JSON.stringify({"search":searchname});
        //     $.get("/test",
        //         function (n) {
        //             console.log(n);
        //             // alert(n[0].name + n[0].time + n.length)
        //             //alert("hello")

        //             // var box = document.getElementById("resulttable");
        //             // for (var i = 0; i < n.length; i++) {
        //             //     $("#formid").append(`<div class='displayfrd'>
        //             // 						<fieldset>
        //             // 						<legend><input type='checkbox'/>PYinfo</legend>
        //             // 						<div class='subfrdinfo'>
        //             // 						<p>` + n[i].name + `</p><p>` + n[i].time + `</p>
        //             // 						</div>
        //             // 						</fieldset>
        //             // 						</div>`);
        //         }
        //     );
        // };

        // $(document).ready(function() {
        //     $("button").click(function() {
        //         console.log("开始调用get");
        //         $.get("/test",
        //             function(rep) {
        //                 console.log("调用成功");


        //             }
        //         );
        //     });
        // });
    </script>
</head>

<body>
    <h1 style="text-align: center;background-color: darkcyan">选择好友{{result.message}}</h1>
    <form id="formid">
        <script>
            $("#formid").append(`<div class='displayfrd'><fieldset><legend><input type='checkbox'/>PYinfo</legend><div class='subfrdinfo'><p>` + obj.status + `</p><p>zhangsaninfo</p></div></fieldset></div>`);
            $("#formid").append(`<div class='displayfrd'><fieldset><legend><input type='checkbox'/>PYinfo</legend><div class='subfrdinfo'><p>zhang3</p><p>zhangsaninfo</p></div></fieldset></div>`);
        </script>
        <input id="sbmt" type="submit" value="创建聚会名单">
        <button type="button">click</button>
    </form>
</body>

</html>
<script>
    $("#formid").append(`<div class='displayfrd'><fieldset><legend><input type='checkbox'/>PYinfo</legend><div class='subfrdinfo'><p>` + obj.status + `</p><p>` + obj.message + `</p></div></fieldset></div>`);
</script>